<%= render 'shared/page_title', title: "Create a New Tag" %>

<%= render 'shared/errors', obj: @tag %>
<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @tag do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      
      <%= f.submit 'Create Tag', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>