<%= render 'shared/page_title', title: @post.title %>
<div class="row">
  <div class="col-md-4 pull-right center">
    <%= link_to gravatar_for(@post.user, size: 200), user_path(@post.user) %>
    <p><h5>Brought to you by: <%= @post.user.name %></h5></p>
  </div>
  <div class="col-md-8 well">
  	<% if logged_in? and @post.user == current_user %>
    	<%= link_to "Edit Post", edit_post_path(@post), class: 'btn btn-success pull-right' %>
    <% end %>
    <h3><%= simple_format(@post.content) %></h3>
      <p><small>Category(s): <%= render @post.categories %></small></p>
      <p><small>Tag(s): <%= render @post.tags %></small></p>
	    <div class="pull-right">
	    	<%= link_to like_post_path(@post, like: true), method: :post do %>
					<i class="glyphicon glyphicon-arrow-up"></i> <%= @post.vote_up_total %>
	    	<% end %>
	    	<%= link_to like_post_path(@post, like: false), method: :post do %>
					<i class="glyphicon glyphicon-arrow-down"></i> <%= @post.vote_down_total %>
	    	<% end %>
	    </div>
  </div>
</div>

<h5><%= link_to 'Return to posts', posts_path, class: 'btn btn-warning btn-small' %></h5>