<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <%= link_to(image_tag("logo.png", class: "logo"), root_path) %>
    <% if logged_in? %> 
      <div class="nav-item">
        <%= link_to "Create Post", new_post_path, class: "btn btn-default btn-warning" %>
      </div>
    <% end %>
    <div class="nav-item">
      <%= link_to "Get Some", "", class: "btn btn-default btn-warning" %>
    </div>
    <% if !logged_in? %>
      <div class="nav-item">
        <%= link_to "Login", login_path, class: "btn btn-default btn-warning" %>
      </div>
    <% end %>
    <% if logged_in? %> 
      <div class="nav-item">
        <%= link_to "Log Out", logout_path, class: "btn btn-default btn-danger" %>
      </div>
    <% end %>
  </div>  
</nav>
